@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    --bg: hsl(46, 100%, 50%);
    --green: #10772a;
    --light: #e9f5db;
    font-size: calc(0.625rem + 0.4vw);
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template: auto 4fr / 1fr 4fr 1fr;
    height: 100%;
    background-color: #ffe568;
}

/* header */
header {
    display: grid;
    grid-column: 2 / -1;
    grid-template: auto 1fr / 2fr 1fr;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .5);
    padding: 8px;
    background-color: white;
}

.search {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

img[src="icon/search_FILL0_wght400_GRAD0_opsz48.png"] {
    height: 2rem;
    width: 2rem;
}

#search-box {
    flex: 1;
    border-radius: 20px;
    border: none;
    background-color: #e4ddf4;
    height: 1.5rem;
}

::placeholder {
    padding-left: 10px ;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
img[src="icon/bell.png"] {
    height: 32px;
}

.smallimg {
    height: 3rem;
    width: 3rem;
}

.username {
    display: grid;
    grid-template: 1fr / auto 1fr ;
    gap: 0.5rem 1rem ;
}

.bigimg {
    height: 5rem;
    width: 5rem;
    grid-row: 1/3;
    justify-self: end;
    align-self: center;
}

.hi {
    margin: 0;
    align-self: end;
    font-weight: bold;
    font-size: 20px;
}

.name {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

.btn-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.button {
    background-color: var(--bg);
    border: none;
    height: 2rem;
    width: 6rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

/* nav bar */
nav {
    background-color: var(--bg);
    display: grid;
    grid-template-rows: auto auto 1fr;
    padding: 1rem;
    grid-row: 1 / 3;
}

 .dashboard{
    display: flex;
    align-items: center;
    gap: 1rem;
}

img[src="icon/happy.png"] {
    height: 3rem;
}

h3 {
    margin: 0;
    font-size: 2rem;
}
ul {
    font-size: 1.2rem;
    font-weight: bold;
    list-style: none;
}
ul img {
    height: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

li {
    display: flex;
    gap: 1rem;
    align-items: center;

}

li a {
    text-decoration: none;
    color: black;
    gap: 2rem;
    margin-top: 20px;
}

/* main */
main {
    background-color: #ffe568;
}
.project-head{
    font-size: 24px;
    padding-top: 25px;
    padding-left: 32px;
}
.project {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 20px;
    padding: 1rem 2rem;
}

.item {
    border-radius: 13px;
    background-color: white;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .5);
    text-align: center;
}

.item:hover {
    transition: 0.5s;
    transform: scale(1.01);
}
.card {
    width: 398px;
    height: 150px;
    object-fit:contain;
    border-radius: 13px;
}

article h3 {
    font-size: 24px;
    padding-bottom: 10px;
}

/* right side */

.topic {
    background-color: white;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .5);
    padding: 1rem 2rem;
    border-radius: 13px;
    min-width: 231px;
    margin-top: 10px;

}

.topic a {
    text-decoration: none;
    color: black;
}

.topic p {
    margin: 0;
    font-size: 18px;
    padding-bottom: 10px;
}


 h6 {
    font-size: 1.2rem;  
    margin: 0;
    padding-top: 15px;
}

.treading-container {
    background-color: white;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .5);
    border-radius: 13px;
    min-width: 231px;
    margin-top: 10px;
}

/* .treading-container {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/ auto 1fr ;

} */

 .treading-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem 2rem;
} 
.person {
    display: flex;;
    align-items: center;
    gap: 1rem;
    padding-bottom: 10px;
}

.person img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

div.person a {
    text-decoration: none;
    color: black;
}

.user-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.fullname {
    color: gray;

}






